{% extends 'base.html.twig' %}
{% trans_default_domain 'logs' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/logs.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/logSearch.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/logRowsCount.js') }}"></script>
{% endblock %}

{% block main %}
    <div>
        <h3>{{ 'logs.title.search'|trans }}</h3>
    </div>
    <div class="search-div">
        {{ include('lencor/admin/archive/logging_manager/logs_search.html.twig') }}
    </div>
    <div>
        <div><h4>{{ 'logs.title.fileslist'|trans }}</h4>
        </div>
        <div id="logs" class="logs">
            {% block logs %}

            {% endblock %}
        </div>
    </div>
    <div>
        <h4>{{ 'logs.title.filescontent'|trans }}</h4>
    </div>
    <table class="table white table-entries" data-path="{{ path('logging') }}">
        <thead>
        <tr>
            <td>
            </td>
            {#<td scope="col">{{ 'logs.header.timestamp'|trans }}</td>
            <td scope="col">{{ 'logs.header.eventtype'|trans }}</td>
            <td scope="col">{{ 'logs.header.record'|trans }}</td>
            <td scope="col">{{ 'logs.header.details'|trans }}</td>
            <td scope="col" class="text-center"><i class="fa fa-info"
                                                   aria-hidden="true"></i> {{ 'logs.header.info'|trans }}</td>
            <td scope="col" class="text-center"><i class="fa fa-cogs"
                                                   aria-hidden="true"></i> {{ 'logs.header.actions'|trans }}</td>#}
        </tr>
        </thead>
        <tbody id="log-contents" class="entries" data-path="{{ path('logging') }}" >
        <tr>
            <td id="logfile-block"> </td>
        </tr>
        </tbody>
        <tfoot>
        <tr id="loading-spinner" class="loading-spinner" hidden>
            <td>
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"> </i>
                <br>
                {{ 'logs.content.loading'|trans }}
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}