{% if addHeaderAndButtons %}
<table id="{{ entryId }}">
    <tr class="add-buttons">
        <td id="last-update" class="last-update">
        </td>
        <td id="{{ folderId }}"><a class="button" href="#" name="addFolder" title="Добавить директорию"><i class="fa fa-folder-o" ></i> Добавить директорию </a></td>
        <td id="{{ folderId }}"><a class="button" href="#" name="addFiles" title="Добавить файл"><i class="fa fa-file-o"> </i> Добавить файл </a></td>
    </tr>
    <tr>
        <td class="container" colspan="9">
            <ul class="header">
                <li>
                    <span>Название</span>
                    <span>Добавлено пользователем</span>
                    <span>Дата и время добавления</span>
                    <span class="text-right width-50">Информация</span>
                    <span class="text-right width-50">Действия</span>
                </li>
            </ul>
        </td>
    </tr>
    <tr id="rootEntry">
        <td id="{{ folderId }}" class="container" colspan="3">
            {% endif %}
            <ul id="folderContent_{{ folderId }}" class="fa-ul folders">
                <li hidden id="folderContent_{{ folderId }}"> </li>
            </ul>
            <ul id="fileContent_{{ folderId }}" class="fa-ul files">
                <li hidden id="fileContent_{{ folderId }}"> </li>
            </ul>
        </td>
    </tr>
</table>