{% if addHeaderAndButtons %}
<table id="{{ entryId }}">
    <tr class="add-buttons">
        <td id="last-update" class="last-update">
        </td>
        <td id="{{ folderId }}"><a class="button" href="#" name="addFolder" title="Добавить директорию"><i class="fa fa-folder-o" > </i> Добавить директорию </a></td>
        <td id="{{ folderId }}"><a class="button" href="#" name="addFiles" title="Добавить файл"><i class="fa fa-file-o"> </i> Добавить файл </a></td>
    </tr>
    <tr>
        <td class="container" colspan="9">
            <ul class="header">
                <li>
                    <span>{{ 'entries.content.header.name'|trans }}</span>
                    <span>{{ 'entries.content.header.added_by'|trans }}</span>
                    <span>{{ 'entries.content.header.added_date'|trans }}</span>
                    <span class="text-right width-50">{{ 'entries.content.header.info'|trans }}</span>
                    <span class="text-right width-50">{{ 'entries.content.header.actions'|trans }}</span>
                </li>
            </ul>
        </td>
    </tr>
    <tr id="rootEntry">
        <td id="{{ folderId }}" class="container" colspan="3">
            {% endif %}
            <ul id="folderContent_{{ folderId }}" class="fa-ul folders">
                <li hidden id="folderContent_{{ folderId }}"> </li>
            </ul>
            <ul id="fileContent_{{ folderId }}" class="fa-ul files">
                <li hidden id="fileContent_{{ folderId }}"> </li>
            </ul>
        </td>
    </tr>
</table>