<a href="#" id="closeForm" name="closeForm"> <i class="fa fa-close file-add-close"> </i></a>

<h2>Добавление документа</h2>
{% form_theme fileAddForm '@symfony-collection/jquery.collection.html.twig' %}

    {{ form_start(fileAddForm) }}

<table id="fileForm" data-path="{{ path('index') }}">
    <tr>
        <td>
            {{ form_label(fileAddForm.parentFolder) }}
            {{ form_widget(fileAddForm.parentFolder) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(fileAddForm.files) }}
            {{ form_widget(fileAddForm.files, { 'attr' : {'placeholder' : 'file.upload.placeholder'|trans}}) }}
        </td>
    </tr>
    <tr>
        <td>{{ form_widget(fileAddForm.submitButton) }}</td>
    </tr>
</table>

{{ form_errors(fileAddForm) }}
{{ form_end(fileAddForm) }}