<a href="#" id="closeForm" name="closeForm"> <i class="fa fa-close folder-add-close"></i></a>

<h2>Добавление директории</h2>
{% form_theme folderAddForm '@symfony-collection/jquery.collection.html.twig' %}

    {{ form_start(folderAddForm) }}

<table id="folderForm" data-path="{{ path('entries_new_folder') }}">
    <tr>
        <td>
            {{ form_label(folderAddForm.parentFolder) }}
            {{ form_widget(folderAddForm.parentFolder) }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form_label(folderAddForm.folderName) }}
            {{ form_widget(folderAddForm.folderName, { 'attr' : {'placeholder' : 'folder.create.placeholder'|trans}}) }}
        </td>
    </tr>
    <tr>
        <td>{{ form_widget(folderAddForm.submitButton) }}</td>
    </tr>
</table>

{{ form_errors(folderAddForm) }}
{{ form_end(folderAddForm) }}