{% extends 'base.html.twig' %}

{% block body_id 'admin_post_new' %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('js/entryAdd.js') }}"></script>
    {% endblock %}

{% block main %}
    <div id="main-div" data-path="{{ path('entries_new') }}">
        {{ include('lencor/admin/archive/flash_messages/archive_manager/flash_messages.html.twig') }}
        <div class="new_entry">
            <h1>{{ 'entries.title.new'|trans }}</h1>
            {% form_theme entryForm '@symfony-collection/jquery.collection.html.twig' %}
            {{ form_start(entryForm) }}
            <table>
                <tr>
                    <td><p>{{ form_label(entryForm.year) }}</p></td>
                    <td><p>{{ form_widget(entryForm.year) }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ form_label(entryForm.factory) }}</p></td>
                    <td><p>{{ form_widget(entryForm.factory) }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ form_label(entryForm.setting) }}</p></td>
                    <td><p>{{ form_widget(entryForm.setting) }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ form_label(entryForm.archiveNumber) }}</p></td>
                    <td>
                        <p>{{ form_widget(entryForm.archiveNumber, { 'attr' : {'placeholder' : 'entries.add.archive_number.placeholder'|trans}}) }}</p>
                    </td>
                </tr>
                <tr>
                    <td><p>{{ form_label(entryForm.registerNumber) }}</p></td>
                    <td>
                        <p>{{ form_widget(entryForm.registerNumber, { 'attr' : {'placeholder' : 'entries.add.register_number.placeholder'|trans}}) }}</p>
                    </td>
                </tr>
                <tr>
                    <td><p>{{ form_label(entryForm.contractNumber) }}</p></td>
                    <td>
                        <p>{{ form_widget(entryForm.contractNumber, { 'attr' : {'placeholder' : 'entries.add.contract_number.placeholder'|trans}}) }}</p>
                    </td>
                </tr>
                <tr>
                    <td><p>{{ form_label(entryForm.fullConclusionName) }}</p></td>
                    <td>
                        <p>{{ form_widget(entryForm.fullConclusionName, { 'attr' : {'placeholder' : 'entries.add.conclusion_fullname.placeholder'|trans}}) }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p>{{ form_widget(entryForm.submitButton) }}</p></td>
                </tr>
            </table>
            {{ form_errors(entryForm) }}
            {{ form_end(entryForm) }}
        </div>
        <div class="new_factory">
            <h1>{{ 'factories.title.new'|trans }}</h1>
            {% form_theme factoryForm '@symfony-collection/jquery.collection.html.twig' %}
            {{ form_start(factoryForm) }}
            <table id="factoryForm" data-path="{{ path('entries_new') }}">
                <tr>
                    <td colspan="2">{{ form_errors(factoryForm) }}</td>
                </tr>
                <tr>
                    <td><p>{{ form_label(factoryForm.factoryName) }}</p></td>
                    <td>
                        <p>{{ form_widget(factoryForm.factoryName, { 'attr' : {'placeholder' : 'factories.add.name.placeholder'|trans}}) }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p>{{ form_widget(factoryForm.submitButton) }}</p></td>
                </tr>
            </table>
            {{ form_end(factoryForm) }}
        </div>
        <div class="new_setting">
            <h1>{{ 'settings.title.new'|trans }}</h1>
            {% form_theme settingForm '@symfony-collection/jquery.collection.html.twig' %}
            {{ form_start(settingForm) }}
            <table id="settingForm" data-path="{{ path('entries_new') }}">
                <tr>
                    <td><p>{{ form_label(settingForm.factory) }}</p></td>
                    <td><p>{{ form_widget(settingForm.factory) }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ form_label(settingForm.settingName) }}</p></td>
                    <td>
                        <p>{{ form_widget(settingForm.settingName, { 'attr' : {'placeholder' : 'settings.add.name.placeholder'|trans}}) }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p>{{ form_widget(settingForm.submitButton) }}</p></td>
                </tr>
            </table>
            {{ form_errors(settingForm) }}
            {{ form_end(settingForm) }}
        </div>
    </div>
{% endblock %}


