{% for file in fileList %}
        <li id="file_{{ file.id }}" class="dashed row {% if file.deleteMark != 0 %} deleted {% endif %}">
            <span id="{{ file.id }}">
        {% if file.deleteMark != 0 %}
                <i class="fa fa-remove"> </i>
                <i class="fa fa-file-text"> </i>{{ file.fileName }}
        {% else %}
                <a href="#" name="downloadFile">
                    <i class="fa fa-file-text"> </i>{{ file.fileName }}
                </a>
        {% endif %}
            </span>
            <span>ID: {{ file.addedByUserId }}</span>
            <span> {{ file.addTimestamp|date('Y-m-d H:i:s') }} </span>
            <span class="text-right width-66">
        {% if file.deleteMark != 0 %}
                <i class="fa fa-ban" id="isRemoved"> </i>
        {% else %}
            {% if file.sumError %}
                <i class="fa fa-exclamation" id="checkError"> </i>
            {% else %}
                <i class="fa fa-check-circle-o" id="checkPassed"> </i>
            {% endif %}
        {% endif %}
                <i class="fa fa-user" id="lastChangeInfo"> </i>
            </span>
            <span id="{{ file.id }}" class="text-right width-66">
        {% if file.deleteMark != 0 %}
                <a href="#" name="restoreFile"><i class="fa fa-undo"> </i></a>
        {% else %}
                <a href="#" name="downloadFile"><i class="fa fa-download"> </i></a>
                <a href="#" name="removeFile"><i class="fa fa-trash-o"> </i></a>
        {% endif %}
            </span>
        </li>
    {% endfor %}
