{% trans_default_domain 'auth' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('static/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('static/css/font-lato.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/common.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/security.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<main>
    {% block main %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div class="content">
            <div class="block">
                <div class="login-form">
                    {% form_theme authForm '@symfony-collection/jquery.collection.html.twig' %}
                    {{ form_start(authForm, {'action' : path('fos_user_security_check'), 'method' : 'POST'}) }}
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'auth.title'|trans }}</legend>
                        <div class="form-group">
                            {{ form_label(authForm._username) }}
                            {{ form_widget(authForm._username, { 'attr' : { 'placeholder' : 'auth.username.placeholder'|trans, 'value' : last_username }}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(authForm._password) }}
                            {{ form_widget(authForm._password, { 'attr' : { 'placeholder' : 'auth.password.placeholder'|trans}}) }}
                        </div>
                        {{ form_widget(authForm.submitButton) }}
                    </fieldset>
                    {{ form_end(authForm) }}
                </div>
            </div>
        </div>
    {% endblock %}


    {% block javascripts %}

    {% endblock %}
</main>
</body>