<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-flatly-3.3.7.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-lato.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">
{% block javascripts %}
    <script src="{{ asset('jquery/jquery.min.js') }}"></script>

{% endblock %}

{% block header %}
    <header>
        {% block header_navigation_menu %}
            <div class="top-menu left" role="navigation">
                <div class="container">
                    <ul class="left">
                        <li>
                            <span><a href="{{ path('index') }}"><i
                                            class="fa fa-home"></i> {{ 'header.menu.homepage'|trans }} </a> </span>
                            <span><a href="{{ path('entries') }}"><i
                                            class="fa fa-archive"></i> {{ 'header.menu.manager'|trans }} <i
                                            class="fa fa-angle-down"></i></a></span>
                            <span><a href="#"><i class="fa fa-cog"></i> {{ 'header.menu.system'|trans }} <i
                                            class="fa fa-angle-down"></i></a></span>
                            <span><a href="#"><i class="fa fa-wrench"></i> {{ 'header.menu.control'|trans }} <i
                                            class="fa fa-angle-down"></i></a></span>
                            <span><a href="#"><i class="fa fa-history"></i> {{ 'header.menu.logging'|trans }} <i
                                            class="fa fa-angle-down"></i></a></span>
                            <span><a href="#"><i class="fa fa-info"></i> {{ 'header.menu.stats'|trans }} <i
                                            class="fa fa-angle-down"></i></a></span>
                        </li>
                    </ul>
                    <ul class="right">
                        {% if is_granted('ROLE_ADMIN') %}
                            {#    <li>
                                    <span>
                                        <a href=""><i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}</a>
                                    </span>
                                </li>
                             #}
                        {% endif %}
                        {% if app.user %}
                            <li>
                            <span>
                                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"
                                                                                    aria-hidden="true"></i> {{ 'header.menu.logout'|trans }}</a>
                            </span>
                            </li>
                        {% else %}
                            <li>
                            <span>
                                <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"
                                                                                   aria-hidden="true"></i> {{ 'header.menu.login'|trans }}</a>
                            </span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endblock %}
        {% block header_info_block %}
            <div class="info-block left" role="navigation">
                <div class="container">
                    <div class="info-title">
                        <a class="left" href="{{ path('index') }}">
                            {{ 'header.title'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}
    </header>
{% endblock %}
{% block body %}
    <main>
        <div class="content">
            {{ include('lencor/admin/archive/flash_messages/archive_manager/summary.html.twig') }}
            {#<div class="container">
                {% block sidebar %}{% endblock %}
            </div> #}
            {% block main %}{% endblock %}
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <div id="footer-copyright">
            </div>
            <div id="footer-resources">
                <p>
                    <a href="" title="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="" title="">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="" title="">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
{% endblock %}
</body>
</html>
