{% extends 'lencor/admin/archive/administration/index.html.twig' %}
{% trans_default_domain 'facset' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/fac-set.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/fac-set.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="page-title">
        <h3>{{ 'facset.title'|trans }}</h3>
    </div>
    {{ include('lencor/admin/archive/flash_messages/archive_manager/flash_messages.html.twig') }}
    <div class="fac-set">
        <div class="content-list factories left">
            <ul class="fa-ul" id="factories">
                {% block factories %}
                    {{ include('lencor/admin/archive/administration/factories_and_settings/factories.html.twig', { 'factories': factories }) }}
                {% endblock %}
            </ul>
        </div>
        <div class="content-list settings left">
            <ul class="fa-ul" id="settings">
                {% block settings %}
                    {{ include('lencor/admin/archive/administration/factories_and_settings/settings.html.twig')}}
                {% endblock %}
            </ul>
        </div>
    </div>
{% endblock %}