{% trans_default_domain 'facset' %}
{% block settings %}
    {% if settings is defined %}
        {% if settings is iterable %}
            {% for setting in settings %}
                <li id="setting_{{ setting.id }}">
                    <span id="{{ setting.id }}">
                        {{ setting }}
                    </span>
                    <span>
                    <a href="#" id="{{ setting.id }}" name="editSetting"><i class="fa fa-edit"> </i></a>
                    <i class="fa fa-trash red disabled"> </i>
                </span>
                </li>
            {% endfor %}
        {% else %}
            <li id="setting_{{ settings.id }}">
            <span id="{{ settings.id }}">
                {{ settings }}
            </span>
            <span>
                <a href="#" id="{{ settings.id }}" name="editSetting"><i class="fa fa-edit"> </i></a>
                <i class="fa fa-trash red disabled"> </i>
            </span>
        {% endif %}
    {% else %}
        </li>
        <li>
            <span>{{ 'facset.settings.placeholder'|trans }}</span>
        </li>
    {% endif %}
{% endblock %}