<tr id="entry_{{ entry.id }}" class="description{% if entry.deleteMark != 0 %} deleted {% endif %}">
    <td id="{{ entry.id }}"><a href="#" name="entryId" class="open"><i id="down" class="fa fa-angle-down"> </i><i id="up" class="fa fa-angle-up"> </i><i class="fa fa-folder-o"> </i></a></td>
    <td>
        {% if entry.deleteMark != 0 %}
            <i class="fa fa-remove"> </i>
        {% endif %}
        {{ entry.year }}
    </td>
    <td>{{ entry.factory.factoryName }}</td>
    <td>{{ entry.setting.settingName }}</td>
    <td>{{ entry.archiveNumber }}</td>
    <td>{{ entry.registerNumber }}</td>
    <td>{{ entry.contractNumber }}</td>
    <td>{{ entry.fullConclusionName }}</td>
    <td class="text-center" id="entry">
        {% if entry.requestMark %}
            <a href="#" name="isRequested" id="{{ entry.id }}" class="non-opaque"><i class="fa fa-fire non-opaque"> </i>({{ entry.requestsCount }})</a>
        {% endif %}
        {% if entry.deleteMark != 0 %}
            <i class="fa fa-ban" id="isRemoved"> </i>
        {% endif %}
        {% if entry.sumErrors != 0 %}
            <i class="fa fa-exclamation-triangle" id="checkError"> </i>
        {% else %}
            <i class="fa fa-check-circle" id="checkPassed"> </i>
        {% endif %}
    </td>
    <td class="icons text-center" id="{{ entry.id }}">
        {#<a href="#" name="openPath" class="open" target="_blank"><i class="fa fa-hdd-o"> </i></a>#}
        <a href="#" name="addFiles"><i class="fa fa-upload"> </i></a>&nbsp;
        <a href="#" name="addFolder"><i class="fa fa-plus-square-o" id="createCatalogue"> </i><i class="fa fa-folder-o"> </i></a>&nbsp;
        {% if entry.deleteMark !=0 %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="#" name="restoreEntry" class="non-opaque"><i class="fa fa-undo non-opaque" title="Восстановить ячейку"> </i></a>
            {% else %}
                <a href="#" name="requestEntry" class="non-opaque"><i class="fa fa-undo non-opaque"> </i></a>
            {% endif %}
        {% else %}
            <a href="#" name="removeEntry"><i class="fa fa-trash" title="Пометить к удалению"> </i></a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin-entries', {'entryId' : entry.id}) }}" target="_blank"><i class="fa fa-edit" title="Редактировать"> </i></a>
        {% endif %}
        <a href="{{ path('logging', {'entryId' : entry.id}) }}" target="_blank"><i class="fa fa-history" title="Открыть записи изменений"> </i></a>
    </td>
</tr>