<li id="file_{{ file.id }}" class="dashed row {% if file.removalMark != 0 %} marked {% endif %}{% if file.deleted !=0 %} deleted {% endif %}">
    <span id="{{ file.id }}">
        {% if file.removalMark != 0 %}
            <i class="fa fa-remove"> </i>
        {% endif %}
        <a href="#" name="downloadFile"> <i class="fa {{ file.fileName|file_icon }}"> </i>{{ file.fileName }} </a>
    </span>
    <span>{{ file.addedByUser.username }}</span>
    <span> {{ file.addTimestamp|date('Y-m-d H:i:s') }} </span>
    <span class="text-right width-66" id="file">
            {% if file.requestMark %}
                <a href="#" name="isRequested" id="{{ file.id }}" class="non-opaque"><i class="fa fa-fire non-opaque"> </i>({{ file.requestsCount }})</a>
            {% endif %}
        {% if file.removalMark != 0 %}
            <i class="fa fa-ban" id="isRemoved"> </i>
            {% else %}
            {% if file.sumError %}
                <i class="fa fa-exclamation" id="checkError"> </i>
                {% else %}
                <i class="fa fa-check-circle-o" id="checkPassed"> </i>
            {% endif %}
        {% endif %}
        <i class="fa fa-user" id="lastChangeInfo"> </i>
        </span>
    <span id="{{ file.id }}" class="text-right width-66">
        {% if not file.deleted %}
            {% if file.removalMark != 0 %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="#" name="restoreFile" class="non-opaque"><i class="fa fa-undo non-opaque" title="Снять метку"> </i></a>
                    <a href="#" name="deleteFile" class="non-opaque"><i class="fa fa-check non-opaque" title="Удалить файл"> </i></a>
                {% else %}
                    <a href="#" name="requestFile" class="non-opaque"><i class="fa fa-undo non-opaque"> </i></a>
                {% endif %}
            {% else %}
                <a href="#" name="downloadFile"><i class="fa fa-download"> </i></a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="#" name="renameFile"><i class="fa fa-pencil"> </i></a>
                {% endif %}
                <a href="#" name="removeFile"><i class="fa fa-trash-o"> </i></a>
            {% endif %}
        {% else %}
            <a href="#" name="undeleteFile" class="non-opaque"><i class="fa fa-undo non-opaque" title="Восстановить файл"> </i></a>
        {% endif %}
        </span>
</li>