{% extends 'base.html.twig' %}
{% trans_default_domain 'entries' %}

    {% block sidebar %}
        {{ parent() }}
    {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/entries.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}


{% block javascripts %}
     {{ parent() }}
     <script type="text/javascript" src="{{ asset('build/js/entrySearch.js') }}"></script>
{% endblock %}

{% block main %}
    {{ include('lencor/admin/archive/flash_messages/archive_manager/flash_messages.html.twig') }}
    {{ include('lencor/admin/archive/archive_manager/entries_search.html.twig') }}
    <div>
        <div class="left page-title"><h3>{% if deleted %} {{ 'entries.deleted.title.list'|trans }} {% else %} {{ 'entries.title.list'|trans }} {% endif %}</h3></div>
        {% if not deleted %}
        <div class="right">
            <a href="{{ path('entries-new') }}" class="button right">
            <i class="fa fa-pencil" aria-hidden="true"> </i> {{ 'button.entry.create'|trans }}
            </a>
        </div>
        {% endif %}
    </div>
    <table class="table white" id="main-table" data-path="{{ path('entries') }}">
        <thead>
        <tr>
            <td> </td>
            <td scope="col">{{ 'entries.header.year'|trans }}</td>
            <td scope="col">{{ 'entries.header.factory'|trans }}</td>
            <td scope="col">{{ 'entries.header.setting'|trans }}</td>
            <td scope="col">{{ 'entries.header.archive_number'|trans }}</td>
            <td scope="col">{{ 'entries.header.register_number'|trans }}</td>
            <td scope="col">{{ 'entries.header.contract_number'|trans }}</td>
            <td scope="col">{{ 'entries.header.conclusion_fullname'|trans }}</td>
            <td scope="col" class="text-center"><i class="fa fa-info" aria-hidden="true"> </i> {{ 'entries.header.info'|trans }}</td>
            <td scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"> </i> {{ 'entries.header.actions'|trans }}</td>
        </tr>
        </thead>
        <tbody id="main-tbody" class="entries">
        {% block entries %}

        {% endblock %}
        </tbody>
        <tfoot>
            <tr id="loading-spinner" class="loading-spinner" hidden>
                <td colspan="10">
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw"> </i>
                    <br>
                    {{ 'entries.loading'|trans }}
                </td>
            </tr>
        </tfoot>
    </table>
    <div id="addFolder" class="folder-add">
    </div>
    <div id="addFiles" class="file-add">
    </div>
    <div id="downloadFile" class="file-download">
    </div>
{% endblock %}