{% extends 'base.html.twig' %}
{% trans_default_domain 'entries' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/entryAdd.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/entry-add.css') }}">
{% endblock %}

{% block main %}
    <div id="main-div">
        {{ include('lencor/admin/archive/flash_messages/archive_manager/flash_messages.html.twig') }}
        <div class="new-entry" id="entryForm">
            <h3>{{ 'entries.title.new'|trans }}</h3>
            {{ include('lencor/admin/archive/archive_manager/new_entry_form.html.twig') }}
        </div>
        <div class="new-factory">
            {{ include('lencor/admin/archive/archive_manager/new_factory.html.twig') }}
        </div>
        <div class="new-setting">
            {{ include('lencor/admin/archive/archive_manager/new_setting.html.twig') }}
        </div>
    </div>
{% endblock %}


