{% if addHeaderAndButtons %}
<table id="{{ entryId }}" style="width: 100%; background: #ffffff; margin: 0 0 8px 0;">

    <tr class="entry-content-buttons">
        <td id="entry-content-buttons-spacer" class="entry-content-buttons-spacer">
        </td>

        <td><a class="btn btn-success btn-xs" id="{{ entryId }}" href="#" name="addFolder" title="Добавить директорию"><i class="fa fa-folder-o"></i> Добавить директорию </a></td>
        <td><a class="btn btn-success btn-xs" id="{{ entryId }}" href="#" name="addFile" title="Добавить файл"><i class="fa fa-file-o"></i> Добавить файл </a></td>

    </tr>
    <tr class="row-content">
        <td class="entry-content-container" colspan="3">
            <ul id="entry-content-header" class="fa ul entry-content-header">
                <li>
                    <span><h5>Название</h5></span>
                    <span><h5>Добавлено пользователем</h5></span>
                    <span><h5>Дата и время добавления</h5></span>
                    <span><h5>Информация</h5></span>
                    <span><h5>Действия</h5></span>
                </li>
            </ul>
        </td>
    </tr>
    <tr class="row-content">
        <td id="rootEntry" class="entry-content-container" colspan="3">
            {% endif %}
            <ul id="{{ folderId }}" class="fa-ul entry-content-container entry-content-folders-block">
                <li style="display: none" id="folderContent_{{ folderId }}"></li>
            </ul>
        </td>
    </tr>
</table>