<ul class="fa-ul entry-content-container entry-content-folders-block" id="folderContent">
{% if (folderTree is not empty) %}
    {% for folder in folderTree %}
        <li id="folder_{{ folder.id }}" {% if folder.deleteMark !=0 %} class="entry-content-file-deleted" {% endif %}>
                        <span>
                            {%  if folder.deleteMark != 0 %}
                                <i class="fa fa-remove"></i>
                            {% endif %}
                            <a href="#" name="openFolder" id="{{ folder.id }}">
                                <i class="fa fa-angle-down"></i><i class="fa fa-folder"> </i> {{ folder.folderName }}</a>

                        </span>
            <span>ID: {{ folder.addedByUserId }}</span>
            <span>{{ folder.addTimestamp|date('Y-m-d H:i:s') }}</span>
            <span>
                            {%  if folder.deleteMark != 0 %}
                                <i class="fa fa-ban" id="isRemoved"> </i>
                            {% else %}
                                <i class="fa fa-check-circle-o" id="checkPassed"> </i>
                                <i class="fa fa-exclamation" id="checkError"> </i>
                                <i class="fa fa-user" id="lastChangeInfo"> </i>
                            {% endif %}

                        </span>
            <span>
                            {%  if folder.deleteMark != 0 %}
                                <a href="#" name="restoreFolder" id="{{ folder.id }}"><i class="fa fa-undo"></i></a>
                            {% else %}
                                <!--<a href="#" name="openContents" id="{{ folder.id }}"><i class="fa fa-angle-down"></i><i class="fa fa-folder" id="openContents"></i></a>-->
                                <a href="#" name="addFiles" id="{{ folder.id }}"><i class="fa fa-upload" id=addFiles"> </i></a>
                                <a href="#" name="createCatalogue" id="{{ folder.id }}"><i class="fa fa-plus" id="createCatalogue"> </i></a>
                                <a href="#" name="removeFolder" id="{{ folder.id }}"><i class="fa fa-trash-o" id="removeFolder"> </i></a>
                            {% endif %}
                        </span>
        </li>
        <li style="display: none" id="folderContent_{{ folder.id }}"></li>
    {% endfor %}
{% else %}
    <li>
        <span><a href="#"><i class="fa fa-ellipsis-h"> </i></a></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </li>
{% endif %}