{% for file in fileList %}
<li id="file_{{ file.id }}" {% if file.deleteMark != 0 %} class="entry-content-file-deleted" {% endif %}>
    <span>
        {% if file.deleteMark != 0 %}
            <i class="fa fa-remove"></i>
            <i class="fa fa-file-text"> </i>{{ file.fileName }}
        {% else %}
            <a href="#" name="downloadFile" id="{{ file.id }}">
                <i class="fa fa-file-text"> </i>{{ file.fileName }}
            </a>
        {% endif %}
    </span>
    <span>ID: {{ file.addedByUserId }}</span>
    <span> {{ file.addTimestamp|date('Y-m-d H:i:s') }} </span>
    <span>
        {%  if file.deleteMark != 0 %}
            <i class="fa fa-ban" id="isRemoved"> </i>
        {% else %}
            <i class="fa fa-check-circle-o" id="checkPassed"> </i>
            <i class="fa fa-exclamation" id="checkError"> </i>
            <i class="fa fa-user" id="lastChangeInfo"> </i>
        {% endif %}
    </span>
    <span>
        {% if file.deleteMark != 0 %}
            <a href="#" name="restoreFile" id="{{ file.id }}"><i class="fa fa-undo"></i></a>
        {% else %}
            <a href="#" name="downloadFile" id="{{ file.id }}"><i class="fa fa-download"></i></a>
            <a href="#" name="removeFile" id="{{ file.id }}"><i class="fa fa-trash-o"></i></a>
        {% endif %}
    </span>
</li>
{% endfor %}