{% extends 'base.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block main %}
    <p></p>
    <p></p>
    <p></p>
    <div>
        <h1>{{ 'title.new_setting'|trans }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Создать запись"/>
        {{ form_errors(form) }}
        {{ form_end(form) }}

    </div>
    <p></p>
    <p></p>
    <p></p>
    {% if app.session.flashBag.has('success')  %}
        <div>
            {%  for message in app.session.flashBag.get('success') %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}

