{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('build/css/entries.css') }}"> #}
    <link rel="stylesheet" href="{{ asset('build/css/entry-edit.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/entryEdit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/entryAdd.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="header">
        <h3>{{ 'logs.title.search'|trans }}</h3>
    </div>
    <div id="flash-messages">
        {{ include('lencor/admin/archive/flash_messages/archive_manager/flash_messages.html.twig') }}
    </div>
    <div class="search-div">
        {{ form_start(entrySearchByIdForm) }}
        <ul id="entry-search" class="entry-search">
            <li>
                <span>{{ form_label(entrySearchByIdForm.id) }}</span>
                <span>{{ form_widget(entrySearchByIdForm.id) }}</span>
                <span>{{ form_widget(entrySearchByIdForm.submitButton) }}</span>
            </li>
        </ul>
        {{ form_errors(entrySearchByIdForm) }}
        {{ form_end(entrySearchByIdForm) }}
    </div>
    <div class="edit" id="entryForm">
        {% if entryForm is defined %}
        {{ include('lencor/admin/archive/administration/entry_edit.html.twig', {'entryForm' : entryForm, 'entryId' : entryId}) }}
        {% endif %}
    </div>
{% endblock %}