{% extends 'base.html.twig' %}
{% trans_default_domain 'entries' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/entry-edit.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/entryEdit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/entryAdd.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="header">
        <h3>{{ 'entries.title.search'|trans }}</h3>
    </div>
        {{ include('lencor/admin/archive/flash_messages/archive_manager/flash_messages.html.twig') }}
    <div class="search-div">
        {{ include('lencor/admin/archive/administration/entries/entry_search.html.twig') }}
    </div>
    <div class="edit" id="entryForm">
        {% if entryForm is defined %}
            {{ include('lencor/admin/archive/administration/entries/entry_edit.html.twig', {'entryForm' : entryForm, 'entryId' : entryId}) }}
        {% else %}
            Запись не найдена
        {% endif %}
    </div>
{% endblock %}