{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/entries.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('js/entryEdit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/entryAdd.js') }}"></script>
{% endblock %}

{% block main %}
    <div>
        <h3>{{ 'logs.title.search'|trans }}</h3>
    </div>
    <div>
        {{ form_start(entrySearchByIdForm) }}
        <ul id="log-search" class="form-row">
            <li>
                <span>{{ form_row(entrySearchByIdForm.id) }}</span>
                <span>{{ form_row(entrySearchByIdForm.submitButton) }}</span>
            </li>
        </ul>
        {{ form_errors(entrySearchByIdForm) }}
        {{ form_end(entrySearchByIdForm) }}
    </div>
    <div class="edit_entry" id="entryForm">
        {% if entryForm is defined %}
        {{ include(':lencor/admin/archive/administration:entry_edit.html.twig', {'entryForm' : entryForm, 'entryId' : entryId}) }}
        {% endif %}
    </div>
{% endblock %}