{#<div class="factory" id="factory">#}
    {#<h1>{{ 'factories.title.new'|trans }}</h1>#}
    {% form_theme factoryForm '@symfony-collection/jquery.collection.html.twig' %}
    {{ form_start(factoryForm) }}
    {{ form_errors(factoryForm) }}
    {{ form_widget(factoryForm.factoryName, { 'attr' : {'placeholder' : 'factories.add.name.placeholder'|trans}}) }}
    {{ form_widget(factoryForm.submitButton) }}
    {{ form_end(factoryForm) }}
{#</div>#}