{% trans_default_domain 'entries' %}
<div class="page-title">
    <h3>{% if deleted %} {{ 'entries.deleted.title.search'|trans  }} {% else %} {{ 'entries.title.search'|trans }} {% endif %}</h3>
</div>
<div>
    {{ form_start(searchForm) }}
    <ul id="main-table" class="form-row" data-path="{{ path('entries') }}">
        <li>
            <span>{{ form_row(searchForm.year) }}</span>
            <span>{{ form_row(searchForm.factory) }}</span>
            <span>{{ form_row(searchForm.setting) }}</span>
            <span>{{ form_row(searchForm.archiveNumber, { 'attr' : {'placeholder' : 'search.placeholder.archive_number'|trans}}) }}</span>
            <span>{{ form_row(searchForm.registerNumber, { 'attr' : {'placeholder' : 'search.placeholder.register_number'|trans}}) }}</span>
            <span>{{ form_row(searchForm.contractNumber, { 'attr' : {'placeholder' : 'search.placeholder.contract_number'|trans}}) }}</span>
            <span>{{ form_row(searchForm.fullConclusionName, { 'attr' : {'placeholder' : 'search.placeholder.сonclusion_fullname'|trans}}) }}</span>
        </li>
        <li>
            <span>{{ form_row(searchForm.resetButton) }}</span>
            <span>{{ form_row(searchForm.submitButton) }}</span>
        </li>
    </ul>
    {{ form_errors(searchForm) }}
    {{ form_end(searchForm) }}
</div>