{% trans_default_domain 'files_folders' %}
<a href="#" id="closeForm" name="closeForm" class="modal-block-close"> <i class="fa fa-close"> </i></a>

<h2>{{ 'file.download.title'|trans }}</h2>

<table id="fileRequest" data-path="{{ path('index') }}">
    <tr>
        <td>
            {{ 'file.download.action'|trans }}
        </td>
        <td>
            {{ requestedFile.fileName }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'file.download.checksum'|trans }}
        </td>
        <td>
            {% if checkPass %}
                {{ 'file.download.check.pass'|trans }}
            {% else %}
                {{ 'file.download.check.error'|trans }}
            {% endif %}
        </td>
    </tr>
    <tr>
    <td colspan="2">
        {{ 'file.download.link.prefix'|trans }} <br> {{ sharePath }}
    </td>
    </tr>
    <tr>
        <td colspan="2">
            {% if checkPass %}
                <a href="{{ downloadLink }}" download>{{ 'file.download.link.text'|trans }}</a>
            {% else %}
                {{ 'file.download.link.error'|trans }}
            {% endif %}
        </td>
    </tr>
</table>