{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/logSearch.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/logRowsCount.js') }}"></script>
{% endblock %}

{% block main %}
    <div>
        <h3>{{ 'logs.title.search'|trans }}</h3>
    </div>
    <div>
        {{ form_start(logSearchForm) }}
        <ul id="log-search" class="form-row" data-path="{{ path('logging') }}">
            <li>
                <span>{{ form_row(logSearchForm.id) }}</span>
                <span>{{ form_row(logSearchForm.submitButton) }}</span>
            </li>
        </ul>
        {{ form_errors(logSearchForm) }}
        {{ form_end(logSearchForm) }}
    </div>
    <div>
        <div><h4>{{ 'logs.title.fileslist'|trans }}</h4>
        </div>
        <div id="log-files" class="log-files">
            {% block logs %}

            {% endblock %}
        </div>
    </div>
    <div>
        <h4>{{ 'logs.title.filescontent'|trans }}</h4>
    </div>


    <table class="table white table-entries" data-path="{{ path('logging') }}">
        <thead>
        <tr>
            <td>
            </td>
            {#<td scope="col">{{ 'logs.header.timestamp'|trans }}</td>
            <td scope="col">{{ 'logs.header.eventtype'|trans }}</td>
            <td scope="col">{{ 'logs.header.record'|trans }}</td>
            <td scope="col">{{ 'logs.header.details'|trans }}</td>
            <td scope="col" class="text-center"><i class="fa fa-info"
                                                   aria-hidden="true"></i> {{ 'logs.header.info'|trans }}</td>
            <td scope="col" class="text-center"><i class="fa fa-cogs"
                                                   aria-hidden="true"></i> {{ 'logs.header.actions'|trans }}</td>#}
        </tr>
        </thead>
        <tbody id="main-tbody" class="entries" data-path="{{ path('logging') }}">
        <tr>
            <td id="logfile-content"> </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td> </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}