{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/logRowsCount.js') }}"></script>
{% endblock %}
{% if rowsCountForm is defined %}
    {{ form_start(rowsCountForm) }}
        <ul class="form-row" id="{{ entryId }}">
            <li>
                <span>{{ form_row(rowsCountForm.rowsCount) }}</span>
                <span>{{ form_row(rowsCountForm.file) }}</span>
                <span>{{ form_row(rowsCountForm.entryId) }}</span>
                <span>{{ form_row(rowsCountForm.submitButton) }}</span>
            </li>
        </ul>
    {{ form_end(rowsCountForm) }}
{% endif %}