{% if entryExists %}
    <ul class="fa-ul" id="{{ entryId }}">
    <li class="row">
    <span id="logsRootDirectory">
        <a class="button" name="openSubDir">{{ 'logs.title.rootDir'|trans }}</a>/
    </span>
    {% if logsFolderPath is defined %}
            {% if logsFolderPath is iterable %}
                {% for parentFolder, folder in logsFolderPath %}
                    <span id="{{ parentFolder }}">
                        <a class="button" name="openSubDir" href="">{{ folder }}</a>/
                    </span>
                {% endfor %}
            {% else %}
                <span>
                    <a class="button">{{ logsFolderPath }}</a>
                </span>
            {% endif %}

        {% endif %}
    </li>
    {% if logFiles is empty and logFolders is empty %}
        В директории логов записи отсутствуют
    {% else %}

            {% for logFolder in logFolders %}
                <li class="row">
                    <span id="{{ currentFolder }}">
                        <i class="fa fa-folder"> </i><a id="" class="" name="openSubDir" href="">{{ logFolder.fileName }}</a> |
                    </span>
                    <span>
                        {{ logFolder.size }} |
                    </span>
                    <span>
                        {{ logFolder.mTime }} |
                    </span>
                </li>
            {% endfor %}
            {% for logFile in logFiles %}
                <li class="row">
                    <span id="{{ currentFolder }}">
                        <i class="fa fa-file-text"> </i><a id="{{ entryId }}" class="" name="openLog" href="">{{ logFile.fileName }}</a> |
                    </span>
                    <span>
                        {{ logFile.size }} |
                    </span>
                    <span>
                        {{ logFile.mTime }} |
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
    Архивная запись не найдена
{% endif %}
